@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
  font-family: "Poppins", sans-serif;
}

// variables
$primary-color: #26127e;
$secondary-color: #4d25e0;

$gradient-color: linear-gradient(45deg, #26127e, #4d25e0);
$gradient1-color: linear-gradient(45deg, #4d25e0, #26127e);
$light-color: #f6f6f6;

$white-color: #fff;

.App {
  max-width: 1200px;
  margin: 0px auto;
  p {
    font-size: 1.6rem;
  }
}

// Navbar
.navbar_container {
  background: $secondary-color;
  .navbar {
    max-width: 1200px;
    margin: 0px auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 10px 0px;
    color: $white-color;
    .logo {
      color: $white-color;
      text-decoration: none;
    }
    .cartIcon {
      color: $white-color;
    }
    h2 {
      font-weight: 300;
      font-size: 1.6rem;

      cursor: pointer;
      span {
        font-family: "Aclonica", sans-serif;
        font-size: 3rem;
      }
    }
    .addtocart {
      justify-self: end;
      align-self: center;
      cursor: pointer;

      position: relative;

      font-size: 2rem;
      font-weight: 600;
      .count {
        position: absolute;
        right: -15px;
        top: -8px;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        text-align: center;
        line-height: 20px;

        background: $light-color;
        color: #333;

        font-size: 1.1rem;
      }
    }
  }
}

// landing-component
.landing {
  position: relative;
  img {
    width: 100%;
  }
  .content_area {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    p {
      background: $white-color;
      display: inline-block;

      padding: 5px 10px;
      font-size: 1.2rem;
      border-radius: 10px 0px 10px;
    }
    h2 {
      font-size: 6rem;
      color: $white-color;
      letter-spacing: 2px;
    }
    h3 {
      font-size: 2rem;
      font-weight: 300;
      color: $white-color;

      letter-spacing: 2px;
    }
    .checkoutcart {
      font-family: "Poppins", sans-serif;
      background: $secondary-color;
      border: none;
      color: $white-color;
      padding: 10px 25px;
      box-shadow: 0px 10px 15px -15px rgba(0, 0, 0, 1);
      cursor: pointer;

      border-radius: 5px;
      transition: background 0.5s linear;
      text-decoration: none;

      font-size: 1.2rem;
      display: inline-block;
      margin-top: 1rem;
      &:focus {
        outline: none;
      }
      &:hover {
        background: $primary-color;
        transition: background 0.5s linear;
      }
    }
  }
}

// home page products
.home__container {
  max-width: 1200px;
  margin: 4rem auto;
  .img__box {
    overflow: hidden;
  }
  h2 {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 2px;

    margin-bottom: 3rem;
  }
  .cart__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
  .cart {
    box-shadow: 0px 10px 40px -35px rgba(0, 0, 0, 1);
    border-radius: 1rem;
    overflow: hidden;

    box-sizing: border-box;

    transition: all 0.5s linear;

    &:hover {
      .cart__img {
        transform: scale(1.1);
        transition: all 0.5s linear;
      }
    }
    .cart__body {
      background: $light-color;
      .cart__img {
        width: 100%;
        transition: all 0.5s linear;
      }
      .cart__content {
        padding: 0rem 2rem 2rem 2rem;
        .cart__brand {
          background: rgba(0, 0, 0, 0.1);
          display: inline-block;
          padding: 0.4rem 1.2rem;
          font-size: 1.1rem;
          border-radius: 0.5rem;
          margin: 0rem;
          margin-bottom: 0.2rem;
        }
        .cart__title {
          color: $secondary-color;
          font-size: 1.6rem;
          margin-bottom: 0.4rem;
          text-transform: capitalize;
        }
        .cart__prices {
          display: flex;
          align-items: center;
          h2 {
            color: $primary-color;
            font-size: 2.5rem;
            font-weight: 600;
            padding: 0rem 1rem 0rem 0rem;
            margin: 0rem;

            letter-spacing: 1px;
          }
          h3 {
            color: rgb(165, 165, 165);
            padding: 0rem 1rem 0rem 0rem;
            margin: 0rem;
            font-size: 2rem;

            font-weight: 300;

            text-decoration: line-through;
            letter-spacing: 1px;
          }
          p.discound__price {
            color: $primary-color;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.product__container {
  max-width: 800px;
  margin: 0px auto;

  margin-top: 4rem;

  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 2rem;
    .img__box {
      border: 2px solid $primary-color;
      border-radius: 0.5rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .content__area {
      .product__title {
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
      }
      .prices__area {
        display: flex;

        h4 {
          font-size: 2rem;
          color: rgba(38, 18, 126, 0.6);

          text-decoration: line-through;
          padding-right: 2rem;
        }
        h3 {
          font-size: 2.5rem;
          color: $primary-color;
        }
      }
      .buttons {
        .btn {
          padding: 1.2rem;
          font-size: 1.6rem;
          color: $primary-color;
          border: 1px solid $primary-color;
          cursor: pointer;
        }
        .inc {
          margin-right: 2rem;
        }
        .addtocart {
          background: $primary-color;
          color: $white-color;

          border: 0rem;
          padding: 1.6rem 3rem;

          font-family: "Poppins", sans-serif;

          cursor: pointer;
        }
        .details__title {
          font-size: 2rem;
          margin-top: 2rem;
        }
        .description {
          font-size: 1.4rem;
          margin-top: 1rem;
          margin-bottom: 2rem;

          text-align: justify;
        }
        .checkoutBtn {
          width: 100%;
          display: inline-block;
          margin-top: 2rem;
          border: none;
          background: transparent;
          border: 2px solid $secondary-color;
          color: $secondary-color;
          padding: 1.5rem 3.2rem;
          font-size: 1.4rem;
          font-weight: 500;
          cursor: pointer;

          font-family: "Poppins", sans-serif;

          text-transform: uppercase;

          &:hover {
            background: $secondary-color;
            color: $white-color;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .navbar_container {
    width: 100%;
    .navbar {
      max-width: 900px;
      padding: 10px 25px;
    }
  }
  .landing {
    .content_area {
      left: 35%;
    }
  }
  .home__container {
    max-width: 1200px;
    padding: 1rem;
    h2 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 900px) {
  .navbar_container {
    width: 100%;
    .navbar {
      max-width: 700px;
      padding: 10px 25px;
    }
  }
  .landing {
    .content_area {
      left: 35%;
      h2 {
        font-size: 4rem;
      }
    }
  }
  .home__container {
    max-width: 1200px;
    padding: 2rem;
    h2 {
      font-size: 3.5rem;
    }
    .cart__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // details page
  .product__container {
    width: 100%;
    .row {
      padding: 1rem;
    }
    p.description {
      padding: 0rem 2rem 0rem 0rem;
    }
  }
}

@media (max-width: 450px) {
  .navbar_container {
    width: 100%;
    .navbar {
      max-width: 100%;
      padding: 10px 35px;
    }
  }
  .landing {
    .content_area {
      left: 40%;
      top: 45%;
      h2 {
        font-size: 2rem;
      }
      p {
        display: none;
      }
      h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      .checkoutcart {
        padding: 0.7rem 1rem;
      }
    }
  }
  .home__container {
    max-width: 1200px;
    padding: 2rem;
    h2 {
      font-size: 3rem;
    }
    .cart__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .product__container {
    width: 100%;
    .row {
      grid-template-columns: 1fr;
    }
  }
}
