@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
  font-family: "Poppins", sans-serif;
}

// variables
$primary-color: #26127e;
$secondary-color: #4d25e0;

$gradient-color: linear-gradient(45deg, #26127e, #4d25e0);
$light-color: #f5f4fa;

$white-color: #fff;

.App {
  max-width: 1200px;
  margin: 0px auto;
  p {
    font-size: 1.6rem;
  }
}

// Navbar
.navbar_container {
  background: $secondary-color;
  .navbar {
    max-width: 1200px;
    margin: 0px auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 10px 0px;
    color: $white-color;
    .logo {
      color: $white-color;
      text-decoration: none;
    }
    .cartIcon {
      color: $white-color;
    }
    h2 {
      font-weight: 300;
      font-size: 1.6rem;

      cursor: pointer;
      span {
        font-family: "Aclonica", sans-serif;
        font-size: 3rem;
      }
    }
    .addtocart {
      justify-self: end;
      align-self: center;
      cursor: pointer;

      position: relative;

      font-size: 2rem;
      font-weight: 600;
      .count {
        position: absolute;
        right: -15px;
        top: -8px;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        text-align: center;
        line-height: 20px;

        background: $light-color;
        color: #333;

        font-size: 1.1rem;
      }
    }
  }
}

// landing-component
.landing {
  position: relative;
  img {
    width: 100%;
  }
  .content_area {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    p {
      background: $white-color;
      display: inline-block;

      padding: 5px 10px;
      font-size: 1.2rem;
      border-radius: 10px 0px 10px;
    }
    h2 {
      font-size: 6rem;
      color: $white-color;
      letter-spacing: 2px;
    }
    h3 {
      font-size: 2rem;
      font-weight: 300;
      color: $white-color;

      letter-spacing: 2px;
    }
  }
}
